
.navbar-toggle .icon-bar {
  background: $primary-color;
}

input[type="email"],input[type="password"],input[type="text"],input[type="tel"]{
  box-shadow:none;
  height:45px;
  outline: none;
  font-size:14px;
  &:focus {
    box-shadow: none;
    border:1px solid $primary-color;
  }
}


.input {
  box-shadow: none;
  border-radius: 0;
  padding-left: 12px;
  padding-right: 12px;
  &:focus {
    box-shadow:none;
    border:1px solid $primary-color;
  }
}

//

.py-7{
  padding: 7rem 0px;
}

// Button Style

.btn{
  display: inline-block;
  font-size: 14px;
  font-weight:600;
  padding: .75rem 2rem;
  text-transform: uppercase;
  border-radius:0;
  cursor: pointer;
  @include transition (all, 0.2s, ease);
  border:2px solid transparent;

   &.btn-icon {
    i {
      font-size:16px;
      vertical-align:middle;
      margin-right:5px;
    }
  }

  &:focus{
    outline: 0px;
    box-shadow: none;
  }
}

.btn-main {
  background: $primary-color;
  border-color:$primary-color;
  color: $light;
  @include transition (all, 0.2s, ease);
 
  &:hover {
    background: $secondary-color;
    color: $light;
    border-color:$secondary-color;
  }
}

.btn-main-2 {
  background: $secondary-color;
  color: $light;
  @include transition (all, 0.2s, ease);
 
  &:hover {
     background: $primary-color;
    border-color:$primary-color;
    color: $light;
  }
}


.btn-solid-border {
  border:2px solid $primary-color;
  background:transparent;
  color:$black;
  
  &:hover {
    border:2px solid $primary-color;
    background:$primary-color;
  }
}
.btn-solid-main-2 {
  border:2px solid $secondary-color;
  background:transparent;
  color:$secondary-color;
  
  &:hover {
    border:2px solid $secondary-color;
    background:$secondary-color;
    color: $light;
  }
}


.btn-large {
  padding:20px 45px;
  &.btn-icon {
    i {
      font-size:16px;
      vertical-align:middle;
      margin-right:5px;
    }
  }
}

.btn-small {
  @extend .btn-main ;
  padding:10px 25px;
  font-size:12px;
}

.btn-round {
  border-radius:4px;
}
.btn-round-full {
  border-radius:50px;
}


.btn.active:focus, .btn:active:focus, .btn:focus {
  outline: 0;
}


// Background

.bg-gray {
  background:$secondary-color;
}
.bg-primary {
  background:$primary-color;
}
.bg-primary-dark {
  background:darken($primary-color, 10%);
}
.bg-primary-darker {
  background:darken($primary-color, 20%);
}

.bg-dark {
  background:$black;
}


.bg-gradient{
    background-image: linear-gradient(145deg, rgba(19, 177, 205, 0.95) 0%, rgba(152, 119, 234, 0.95) 100%);
    background-repeat: repeat-x;
}


//  Section Title
.section {
  padding:100px 0;
}
.section-sm {
  padding:70px 0;
}

.section-title {
  margin-bottom: 70px;
 
 .title{
  font-size: 50px;
  line-height: 50px;
 }
  p {
      color: #666;
      font-family:$secondary-font;
  }
}


.subtitle {
  color: $primary-color;
  font-size: 14px;
  letter-spacing: 1px;
}




.overly {
  position: relative;
  &:before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background: #000;
  }
}


.overly-2 {
  position: relative;
  &:before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
  }
}


.text-color{
  color: $primary-color;
}

.text-black{
  color: $black;
}

.text-color2{
  color: $event-color;
}

.text-color2{
  color: $law-color;
}


.text-sm{
  font-size: 13px;
}
.text-md{
  font-size: 2.25rem;
}
.text-lg{
  font-size:3.25rem; 
  line-height: 1.2;
}

.no-spacing{
  letter-spacing: 0px
}


/* Links */
a {
  color: $black;
  text-decoration: none;
}

a:focus, a:hover {
  color: $primary-color;
  text-decoration: none;
}

a:focus {
  outline: none;
}


.content-title {
  font-size: 40px;
  line-height: 50px;
}



.page-title{
  padding: 120px 0;
  @extend .overly;
  .block{
    h1{
      color:$light;
    }
    p{
      color:$light;
    }
  }
}


.page-wrapper {
  padding:70px 0;
}

a{
  transition:all .4s ease 0s;
}

.section-divider{
  width: 100%;
  height:1px;
  background: rgba(0,0,0,0.05);
}



@include mobile-xs{
  .p-5{
    padding: 2rem !important;
  }
  h2, .h2 {
      font-size: 1.2rem;
      font-weight: 600;
      line-height: 36px;
  }

   .text-lg {
      font-size: 2rem;
      line-height: 1.6;
  }
    .text-md {
    font-size: 2rem;
  }
}

@include mobile{
  .p-5{
    padding: 2rem !important;
  }
  h2, .h2 {
      font-size: 1.3rem;
      font-weight: 600;
      line-height: 36px;
  }

}

@include tablet{

}

@include desktop{
  h2 {
      line-height: 1.6;
      font-size: 23px;
  }
}


// column
.container {
  @include desktop {
     max-width: 765px;
  }

  @include tablet {
     max-width: 540px;
  }
}

.container,
.container-fluid {
  padding-left: 15px;
  padding-right: 15px;
}

.column {
  padding: 15px;
}

.columns {
  margin-left: -15px;
  margin-right: -15px;
  margin-top: -15px;
}

.columns:last-child {
  margin-bottom: -15px;
}


// helper classes
.list-inline {
  padding-left: 0;
  list-style: none;

  .list-inline-item {
     display: inline-block;

     &:not(:last-child) {
        margin-right: .5rem;
     }
  }
}

.w-100 {
  width: 100%;
  max-width: unset;
}

.ml-auto {
  margin-left: auto !important;
}

.text-white {
  color: #fff;
}

.text-muted {
  color: #6c757d!important;
}

.border-0 {
  border: 0px !important;
}
.border {
  border: 1px solid #dee2e6 !important;
}
.border-top {
  border-top: 1px solid #dee2e6 !important;
}
.border-right {
  border-right: 1px solid #dee2e6 !important;
}
.border-bottom {
  border-bottom: 1px solid #dee2e6 !important;
}
.border-left {
  border-left: 1px solid #dee2e6 !important;
}

.is-rounded {
  border-radius: .25rem!important;
}

.input::-moz-placeholder, .textarea::-moz-placeholder, .select select::-moz-placeholder {
   color: unset;
   opacity: .8;
}
.input::-webkit-input-placeholder, .textarea::-webkit-input-placeholder, .select select::-webkit-input-placeholder {
   color: unset;
   opacity: .8;
}
.input:-moz-placeholder, .textarea:-moz-placeholder, .select select:-moz-placeholder {
   color: unset;
   opacity: .8;
}
.input:-ms-input-placeholder, .textarea:-ms-input-placeholder, .select select:-ms-input-placeholder {
   color: unset;
   opacity: .8;
}

.bg-light {
  background-color: #f8f9fa!important;
}

ul.list-styled {
  list-style-type: disc;
  list-style-position: inside;
  padding-left: 25px;
}