$light: #fff;
$primary-color: #f89d35;
// $primary-color:#e36955;
// $primary-color:#50bac3;
// $primary-color: #13b1cd;
$secondary-color: #863bae;
$event-color: #c54041;
$law-color: #b99769;
$black: #232323;
$border-color:#dedede;
$primary-font: 'Bitter', serif;
$secondary-font:'Montserrat', sans-serif;
$extra-font:'Hind', serif;
