

.bg-counter{
	background: url("../images/bg/bg-3.jpg")no-repeat;
	background-size: cover;
	@extend .overly-2;
}


// Counter


.counter{
	background: #f7f9f3;
}

.counter-item{
	i{
		font-size: 40px;
		color:#222;
	}
	h3{
		margin-bottom: 0px;
		font-family: $secondary-font;
		color: $primary-color;
	}
	
}

// Counter Section -2
.bg-counter-2{
	background:$secondary-color;
}

.counter-item-2{
	.counter-stat{
		font-size: 70px;
		font-weight: 800;
		line-height: 1.1;
		font-family: $secondary-font;
	}

	p{
		margin-bottom: 0px;
	}

	i{
		color: $light;
	}

}



@include mobile{
	.counter-item-2{
    text-align: center;
  }
}

@include tablet{
 .counter-item-2{
    text-align: center;
  }
}

