
.feature{
	position: relative;
	padding-top:300px;

	&:before{
		position: absolute;
		content:"";
		left: 0px;
		right:0px;
		top:0px;
		width: 100%;
		height:70%;
		background: url("../images/about/banner.jpg")no-repeat;
		background-size: cover;
	}
}

.feature-inner{
	background: $light;
	padding: 30px;
	border:1px solid rgba(0,0,0,0.03);

	i{
		font-size: 50px;
		color: $primary-color;
	}

	h4{
		margin-bottom: 0px;
		margin-top: 10px;
	}
	p{
		color:#8c8c8c;
	}
}