.footer {
   padding-bottom: 10px;
   background: #0a0a0a;

   .copyright {
      color: rgba(255, 255, 255, .7);

      a {
         font-weight: 600;
      }
   }
}


.lh-35 {
   line-height: 35px;
}



.footer-widget {
   h4 {
      letter-spacing: .5px;
   }
}


.sub-form {
   position: relative;

   .input {
      border: 1px solid rgba(255, 255, 255, 0.06);
      background: transparent;
   }

}

.footer-btm {
   border-top: 1px solid rgba(255, 255, 255, 0.06);
}

.footer-socials {
   margin-top: 20px;
   margin-bottom: 20px;

   li a {
      font-size: 18px;
      width: 46px;
      height: 45px;
      text-align: center;
      border: 1px solid rgba(255, 255, 255, 0.06);
      display: inline-block;
      padding-top: 8px;
      color: rgba(255, 255, 255, 0.6);

      &:hover {
         background: $primary-color;
         color: $light;
      }
   }
}

.footer-menu {
   li {
      margin-bottom: 15px;

      a {
         color: rgba(255, 255, 255, .7);

         &:hover {
            color: $primary-color;
         }

         i {
            color: $primary-color;
            margin-right: 9px;
         }
      }
   }
}

// Gallery


.footer {
   .gallery-wrap {
      display: grid;
      row-gap: 5px;
      column-gap: 5px;
      grid-template-columns: repeat(3,minmax(0,1fr));
      .gallery-img {
         line-height: 0;
      }
   }
}


@include mobile-xs {
   .footer-socials {
      margin-top: 20px;
   }

   .footer-socials li a {
      margin-left: 0px;
   }

}

@include mobile {

   .footer-socials {
      margin-top: 20px;
   }

   .footer-socials li a {
      margin-left: 0px;
   }
}

@include tablet {
   .footer-socials {
      margin-top: 20px;
   }

   .footer-socials li a {
      margin-left: 0px;
   }
}

@include desktop {}
