<!-- Section About Start -->

<section class="section about">
	<div class="container">
		<div class="column">
			<div class="column lg-6 ">
				<div class="about-item ">
					<span class="text-color">What we do</span>
					<h2 class="mt-4 mb-5 is-relative content-title">We Make a Difference in their Life</h2>
				</div>
			</div>
			<div class="column lg-6">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt reiciendis necessitatibus officia labore, modi eos velit voluptas veritatis, corporis consequatur ipsum rem magnam animi minima quibusdam. Fuga facilis iusto quia.</p>
			</div>
		</div>
	</div>
</section>

<!-- Section About End -->