<div class="columns is-multiline">
	<div class="column is-6-desktop is-6-tablet mb-4">
		<div class="blog-item-content">
			<img src="images/blog/blog_1.jpg" alt="" class="w-100">

			<div class="blog-item-content-content mt-3">
				<span class="text-sm text-color is-uppercase has-text-weight-bold">January 3, 2019</span>

				<h3 class="mb-3"><a href="blog-single.html">Save The Child For New World</a></h3>
				<p class="mb-5">Non illo quas blanditiis repellendus laboriosam minima animi. Consectetur accusantium pariatur repudiandae!</p>

				<a href="blog-single.html" class="btn btn-small btn-main is-rounded">Learn More</a>
			</div>
		</div>
	</div>

	<div class="column is-6-desktop is-6-tablet mb-4">
		<div class="blog-item-content-content">
			<img src="images/blog/blog_2.jpg" alt="" class="w-100">

			<div class="blog-item-content-content mt-3">
				<span class="text-sm text-color is-uppercase has-text-weight-bold">January 3, 2019</span>   

				<h3 class="mb-3"><a href="blog-single.html">Shelter For Homeless Child</a></h3>
				<p class="mb-5">Non illo quas blanditiis repellendus laboriosam minima animi. Consectetur accusantium pariatur repudiandae!</p>

				<a href="blog-single.html" class="btn btn-small btn-main is-rounded">Learn More</a>
			</div>
		</div>
	</div>

	<div class="column is-6-desktop is-6-tablet mb-4">
		<div class="blog-item-content">
			<img src="images/blog/blog_3.jpg" alt="" class="w-100">

			<div class="blog-item-content-content mt-3">
				<span class="text-sm text-color is-uppercase has-text-weight-bold">January 3, 2019</span>

				<h3 class="mb-3"><a href="blog-single.html">Pure Water Is More Essential</a></h3>
				<p class="mb-5">Non illo quas blanditiis repellendus laboriosam minima animi. Consectetur accusantium pariatur repudiandae!</p>

				<a href="blog-single.html" class="btn btn-small btn-main is-rounded">Learn More</a>
			</div>
		</div>
	</div>
	<div class="column is-6-desktop is-6-tablet mb-4">
		<div class="blog-item-content">
			<img src="images/blog/blog_5.jpg" alt="" class="w-100">

			<div class="blog-item-content-content mt-3">
				<span class="text-sm text-color is-uppercase has-text-weight-bold">January 3, 2019</span>  

				<h3 class="mb-3"><a href="blog-single.html">Medicine For Poor Children</a></h3>
				<p class="mb-5">Non illo quas blanditiis repellendus laboriosam minima animi. Consectetur accusantium pariatur repudiandae!</p>

				<a href="blog-single.html" class="btn btn-small btn-main is-rounded">Learn More</a>
			</div>
		</div>
	</div>
	<div class="column is-12 mt-4">
		<nav class="pagination">
			  <div class="nav-links">
					<a class="page-numbers current" href="#">1</a>
					<a class="page-numbers" href="#">2</a>
					<a class="page-numbers" href="#">3</a>
					<a class="page-numbers" href="#"><i class="icofont-long-arrow-right"></i></a>
			  </div>
		 </nav>
	</div>
</div>