<section class="section gallery">
	<div class="container">
		<div class="columns is-justify-content-center">
			<div class="column is-8-desktop is-10-tablet">
				<div class="section-title has-text-centered">
					<span class="text-color">Our Gallery</span>
					<h2 class="mt-4 mb-5 is-relative content-title">We connect with people across different sectors. we take risksand we always keep learning.</h2>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="gallery-wrap">
			<div class="columns is-multiline">
				<div class="column is-4-desktop is-12-tablet">
					<div class="gallery-item">
						<a href="images/gallery/1.jpg" class="gallery-popup">
							<img src="images/gallery/1.jpg" alt="" class=" w-100">
						</a>
					</div>
				</div>
				<div class="column is-4-desktop is-12-tablet">
					<div class="gallery-item">
						<a href="images/gallery/2.jpg" class="gallery-popup">
							<img src="images/gallery/2.jpg" alt="" class=" w-100">
						</a>
					</div>
				</div>
				<div class="column is-4-desktop is-12-tablet">
					<div class="gallery-item">
						<a href="images/gallery/3.jpg" class="gallery-popup">
							<img src="images/gallery/3.jpg" alt="" class=" w-100">
						</a>
					</div>
				</div>
				<div class="column is-4-desktop is-12-tablet">
					<div class="gallery-item">
						<a href="images/gallery/4.jpg" class="gallery-popup">
							<img src="images/gallery/4.jpg" alt="" class=" w-100">
						</a>
					</div>
				</div>

				<div class="column is-4-desktop is-12-tablet">
					<div class="gallery-item">
						<a href="images/gallery/5.jpg" class="gallery-popup">
							<img src="images/gallery/5.jpg" alt="" class=" w-100">
						</a>
					</div>
				</div>
				<div class="column is-4-desktop is-12-tablet">
					<div class="gallery-item">
						<a href="images/gallery/6.jpg" class="gallery-popup">
							<img src="images/gallery/6.jpg" alt="" class=" w-100">
						</a>
					</div>
				</div>
				<div class="column is-6-desktop is-12-tablet">
					<div class="gallery-item">
						<a href="images/gallery/9.jpg" class="gallery-popup">
							<img src="images/gallery/9.jpg" alt="" class=" w-100">
						</a>
					</div>
				</div>
				<div class="column is-6-desktop is-12-tablet">
					<div class="gallery-item">
						<a href="images/gallery/8.jpg" class="gallery-popup">
							<img src="images/gallery/8.jpg" alt="" class=" w-100">
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section>
	<div class="container">
		<div class="column">
			<div class="column lg-12">
				<div class="section-divider"></div>
			</div>
		</div>
	</div>
</section>
