<!-- Section Intro Start -->
<section class="section intro">
	<div class="container">
		<div class="columns is-align-items-center is-desktop mb-6">
			<div class="column is-6-desktop">
				<div class="section-title mb-0">
					<span class="text-color">What we can do</span>
					<h2 class="mt-4 content-title">We Believe that We can <br>Save More Lifes with you</h2>
				</div>
			</div>
			<div class="column is-6-desktop">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt, dicta, iure. Esse quasi labore aperiam, dolorem amet voluptas soluta asperiores nostrum voluptate molestias numquam similique. Voluptate natus corporis ex, distinctio.</p>
			</div>
		</div>
		<div class="columns is-multiline is-justify-content-center">
			<div class="column is-3-desktop is-6-tablet">
				<div class="intro-item mb-5 mb-lg-0"> 
					<img src="images/about/image-1.jpg" alt="" class=" w-100">
					<h4 class="mt-4 mb-3">Get inspired</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, ducimus.</p>
				</div>
			</div>
			<div class="column is-3-desktop is-6-tablet">
				<div class="intro-item mb-5 mb-lg-0">
					<img src="images/about/image-2.jpg" alt="" class=" w-100">
					<h4 class="mt-4 mb-3">Give Donation</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, ducimus.</p>
				</div>
			</div>
			<div class="column is-3-desktop is-6-tablet">
				<div class="intro-item">
					<img src="images/about/image-3.jpg" alt="" class=" w-100">
					<h4 class="mt-4 mb-3">Become a Volunteer</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, ducimus.</p>
				</div>
			</div> 
			<div class="column is-3-desktop is-6-tablet">
				<div class="intro-item">
					<img src="images/about/image-1.jpg" alt="" class=" w-100">
					<h4 class="mt-4 mb-3">Help The children</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, ducimus.</p>
				</div>
			</div> 
		</div>
	</div>
</section>
<!-- Section Intro END -->