<section class="section latest-blog">
	<div class="container">
		<div class="columns is-justify-content-center is-desktop">
			<div class="column is-7-desktop has-text-centered">
				<div class="section-title">
					<span class="h6 text-color">Latest News</span>
					<h2 class="mt-4 content-title">Latest articles to enrich knowledge</h2>
				</div>
			</div>
		</div>

		<div class="columns is-multiline is-justify-content-center">
			<div class="column is-4-desktop is-6-tablet">
				<div class="blog-item">
					<img src="images/blog/blog_1.jpg" alt="" class="">

					<div class="card-body mt-2">
						<span class="text-sm text-color is-uppercase has-text-weight-bold">January 3, 2019</span>
						<h3 class="mb-3"><a href="blog-single.html" class="">We can make a difference in families lives</a></h3>
						<p class="mb-4">Aspernatur obcaecati unde, quasi nihil neque, voluptatem. Consectetur.</p>
					</div>
				</div>
			</div>

			<div class="column is-4-desktop is-6-tablet">
				<div class="blog-item">
					<img src="images/blog/blog_2.jpg" alt="" class="">

					<div class="card-body mt-2">
						<span class="text-sm text-color is-uppercase has-text-weight-bold">January 3, 2019</span>
						<h3 class="mb-3"><a href="blog-single.html" class="">A place where start new life with peace</a></h3>
						<p class="mb-4">Aspernatur obcaecati unde, quasi nihil neque, voluptatem. Consectetur.</p>
					</div>
				</div>
			</div>

			<div class="column is-4-desktop is-6-tablet">
				<div class="blog-item">
					<img src="images/blog/blog_3.jpg" alt="" class="">

					<div class="card-body mt-2">
						<span class="text-sm text-color is-uppercase has-text-weight-bold">January 3, 2019</span>
						<h3 class="mb-3"><a href="blog-single.html" class="">Build school for poor childrens</a></h3>
						<p class="mb-4">Aspernatur obcaecati unde, quasi nihil neque, voluptatem. Consectetur.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

