<!-- Section Pricing Start -->

<section class="section pricing is-relative">
	<div class="hero-img bg-overlay h70"></div>
	<div class="container">
		<div class="column is-justify-content-center">
			<div class="column lg-7 has-text-centered">
				<div class="section-title">
					<span class="h6 text-white">Our Pricing</span>
					<h2 class="mt-4 content-title text-white">No hidden Charges.Choose Your Perfect Plan</h2>
				</div>
			</div>
		</div>

		<div class="column is-justify-content-center">
            <div class="column md-4">
                <div class="card has-text-centered mb-md-0 mb-3">
                    <div class="card-body py-5">
                        <div class="pricing-header mb-5">
                            <h5 class="font-weight-normal mb-3">Free</h5>
                            <h1>$0</h1>
                            <p class="text-muted">Per User / Month</p>
                        </div>
                        <strong>Includes:</strong>
                        <ul class="list-unstyled lh-45 mt-3 text-black">
                            <li>- Up to 1 User</li>
                            <li>- Max 100 Item</li>
                            <li>- 500 Queries</li>
                            <li>- Basic Statistics</li>
                        </ul>
                        <a href="#" class="btn btn-small btn-solid-border mt-3 btn-round-full">Download Now</a>
                    </div>
                </div>
            </div>
            <div class="column md-4">
                <div class="card has-text-centered mb-md-0 mb-3">
                    <div class="card-body py-5">
                        <div class="pricing-header mb-5">
                            <h5 class="font-weight-normal mb-3">Basic</h5>
                            <h1>$12</h1>
                            <p class="text-muted">Per User / Month</p>
                        </div>
                        <strong>Includes:</strong>
                        <ul class="list-unstyled lh-45 mt-3 text-black">
                            <li>- Up to 5 User</li>
                            <li>- Max 1000 Item</li>
                            <li>- 5000 Queries</li>
                            <li>- Standard Statistics</li>
                        </ul>
                        <a href="#" class="btn btn-small btn-main mt-3 btn-round-full">Signup Now</a>
                    </div>
                </div>
            </div>
            <div class="column md-4">
                <div class="card has-text-centered mb-md-0 mb-3">
                    <div class="card-body py-5">
                        <div class="pricing-header mb-5">
                            <h5 class="font-weight-normal mb-3">Premium</h5>
                            <h1>$39</h1>
                            <p class="text-muted">Per User / Month</p>
                        </div>
                        <strong>Includes:</strong>
                        <ul class="list-unstyled lh-45 mt-3 text-black">
                            <li>- Unlimited User</li>
                            <li>- Unlimited Item</li>
                            <li>- Unlimited Queries</li>
                            <li>- Full Statistics</li>
                        </ul>
                        <a href="#" class="btn btn-small btn-solid-border mt-3 btn-round-full">Download Now</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="column is-justify-content-center">
            <div class="column lg-7 has-text-centered">
                <p class="mt-5">Our team is always ready to work with exciting and ambitious clients. If you're readyto start your creative partnership with us, get in touch.</p>
            </div>
        </div>
	</div>
</section>

<!-- Section Pricing End -->