<div class="columns is-multiline">
	<div class="column is-12 mb-5">
		<div class="single-blog-item">
			<img src="images/blog/image-5.jpg" alt="" class="w-100">

			<div class="blog-item-content mt-3">
				<h2 class="mt-4"><a href="blog-single.html">A place where start new life with peace</a></h2>

				<div class="blog-item-meta py-2 mb-4">
					<span class="text-muted mr-3"><i class="icofont-comment mr-2"></i>5 Comments</span>
					<span class="text-black mr-3"><i class="icofont-calendar mr-1"></i> 28th January</span>
					<span class="text-black mr-3"><i class="icofont-clock-time mr-1"></i> 2 min Read</span>
				</div>

				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus natus, consectetur? Illum libero vel
					nihil nisi quae, voluptatem, sapiente necessitatibus distinctio voluptates, iusto qui. Laboriosam autem,
					nam voluptate in beatae.</p>

				<h3 class="quote">A brand for a company is like a reputation for a person. You earn reputation by trying to
					do hard things well.</h3>

				<p class="is-size-5 mb-4 has-text-weight-normal text-black">The same is true as we experience the emotional
					sensation of stress from our first instances of social rejection ridicule. We quickly learn to fear and
					thus automatically.</p>

				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, rerum beatae repellat tenetur incidunt
					quisquam libero dolores laudantium. Nesciunt quis itaque quidem, voluptatem autem eos animi laborum iusto
					expedita sapiente.</p>

				<div class="share-option mt-5 clearfix">
					<ul class="list-inline">
						<li class="list-inline-item"> <strong>Share:</strong> </li>
						<li class="list-inline-item"><a href="#" target="_blank">
							<i class="icofont-facebook mr-2"></i>Facebook</a></li>
						<li class="list-inline-item"><a href="#" target="_blank">
							<i class="icofont-twitter mr-2"></i>Twitter</a></li>
						<li class="list-inline-item"><a href="#" target="_blank">
							<i class="icofont-pinterest mr-2"></i>Pinterest</a></li>
						<li class="list-inline-item"><a href="#" target="_blank">
							<i class="icofont-linkedin mr-2"></i>Linkedin</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="column is-12 mb-5">
		<div class="comment-area">
			<h3 class="mb-5">2 Comments</h3>
			<ul class="comment-tree list-unstyled">
				<li class="mb-5">
					<div class="comment-area-box is-flex">
						<img alt="" src="images/blog/gallery-5.jpg" class="mr-4">

						<div>
							<div class="is-flex is-justify-content-space-between is-align-items-center">
								<div>
									<h5>Micle harison</h5>
									<span class="date-comm">June 7, 2019 </span>
								</div>
	
								<div class="comment-meta">
									<a href="#"><i class="icofont-reply text-muted mr-2"></i>Reply</a>
								</div>
							</div>
	
							<div class="comment-content mt-3">
								<p>Some consultants are employed indirectly by the client via a consultancy staffing company. </p>
							</div>
						</div>
					</div>
				</li>

				<li>
					<div class="comment-area-box is-flex">
						<img alt="" src="images/blog/gallery-6.jpg" class="mr-4">

						<div>
							<div class="is-flex is-justify-content-space-between is-align-items-center">
								<div>
									<h5>John Doe</h5>
									<span class="date-comm">June 7, 2019</span>
								</div>
	
								<div class="comment-meta">
									<a href="#"><i class="icofont-reply text-muted mr-2"></i>Reply</a>
								</div>
							</div>
	
							<div class="comment-content mt-3">
								<p>Some consultants are employed indirectly by the client via a consultancy staffing company. </p>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>

	<div class="column is-12">
		<form class="comment-form" id="comment-form">
			<h3 class="mb-5">Leave a comment</h3>
			<div class="columns is-multiline">
				<div class="column is-6-desktop is-6-tablet">
					<input class="input" type="text" name="name" id="name" placeholder="Name:">
				</div>
				<div class="column is-6-desktop is-6-tablet">
					<input class="input" type="text" name="mail" id="mail" placeholder="Email:">
				</div>
				<div class="column is-12">
					<textarea class="input mb-3" name="comment" id="comment" cols="30" rows="5" placeholder="Comment"></textarea>
				</div>
				<div class="column is-12">
					<input class="btn btn-main is-rounded" type="submit" name="submit-contact" id="submit_contact"
						value="Submit Message">
				</div>
			</div>
		</form>
	</div>
</div>