<!-- Slider Start -->
<section class="slider">
	<div class="container">
		<div class="columns is-justify-content-center">
			<div class="column is-9-desktop is-10-tablet">
				<div class="block has-text-centered">
					<span class="is-block mb-4 text-white is-capitalized">Small help can make change</span>
					<h1 class="mb-5">New hope for <br>near future</h1>
					<p class="mb-6">Your small contribution means a lot. Natus officia amet <br>accusamus repellat magni reprehenderit dolorem.</p>
					<a href="#" target="_blank" class="btn btn-main is-rounded">Donate Now</a>
				</div>
			</div>
		</div>
	</div>
</section>