<!--  Section Services Start -->
<section class="section team">
	<div class="container">
		<div class="columns is-desktop is-justify-content-center">
			<div class="column is-7-desktop has-text-centered">
				<div class="section-title">
					<span class="h6 text-color">Our volunteer</span>
					<h2 class="mt-4 content-title">Expert volunteer to get best service</h2>
				</div>
			</div>
		</div>

		<div class="columns is-multiline is-justify-content-center">
			<div class="column is-3-desktop is-6-tablet">
				<div class="team-item-wrap">
					<div class="team-item is-relative">
						<img src="images/team/volunteer-img1.1.jpg" alt="" class=" w-100">
						<div class="team-img-hover">
							<ul class="team-social list-inline">
								<li class="list-inline-item">
									<a href="#" class="facebook"><i class="icofont-facebook" aria-hidden="true"></i></a>
								</li>
								<li class="list-inline-item">
									<a href="#" class="twitter"><i class="icofont-twitter" aria-hidden="true"></i></a>
								</li>
								<li class="list-inline-item">
									<a href="#" class="instagram"><i class="icofont-instagram" aria-hidden="true"></i></a>
								</li>
								<li class="list-inline-item">
									<a href="#" class="linkedin"><i class="icofont-linkedin" aria-hidden="true"></i></a>
								</li>
							</ul>
						</div>
					</div>
					<div class="team-item-content">
						<h4 class="mt-3 mb-0 is-capitalize">Justin hammer</h4>
						<p>Student</p>
					</div>
				</div>
			</div>

			<div class="column is-3-desktop is-6-tablet">
				<div class="team-item-wrap">
					<div class="team-item is-relative">
						<img src="images/team/volunteer-img1.2.jpg" alt="" class=" w-100">
						<div class="team-img-hover">
							<ul class="team-social list-inline">
								<li class="list-inline-item">
									<a href="#" class="facebook"><i class="icofont-facebook" aria-hidden="true"></i></a>
								</li>
								<li class="list-inline-item">
									<a href="#" class="twitter"><i class="icofont-twitter" aria-hidden="true"></i></a>
								</li>
								<li class="list-inline-item">
									<a href="#" class="instagram"><i class="icofont-instagram" aria-hidden="true"></i></a>
								</li>
								<li class="list-inline-item">
									<a href="#" class="linkedin"><i class="icofont-linkedin" aria-hidden="true"></i></a>
								</li>
							</ul>
						</div>
					</div>
					<div class="team-item-content">
						<h4 class="mt-3 mb-0 is-capitalize">Jason roy</h4>
						<p>Businessman</p>
					</div>
				</div>
			</div>

			<div class="column is-3-desktop is-6-tablet">
				<div class="team-item-wrap ">
					<div class="team-item is-relative">
						<img src="images/team/volunteer-img1.3.jpg" alt="" class=" w-100">
						<div class="team-img-hover">
							<ul class="team-social list-inline">
								<li class="list-inline-item">
									<a href="#" class="facebook"><i class="icofont-facebook" aria-hidden="true"></i></a>
								</li>
								<li class="list-inline-item">
									<a href="#" class="twitter"><i class="icofont-twitter" aria-hidden="true"></i></a>
								</li>
								<li class="list-inline-item">
									<a href="#" class="instagram"><i class="icofont-instagram" aria-hidden="true"></i></a>
								</li>
								<li class="list-inline-item">
									<a href="#" class="linkedin"><i class="icofont-linkedin" aria-hidden="true"></i></a>
								</li>
							</ul>
						</div>
					</div>
					<div class="team-item-content">
						<h4 class="mt-3 mb-0 is-capitalize">Henry oswald</h4>
						<p>CO founder</p>
					</div>
				</div>
			</div>

			<div class="column is-3-desktop is-6-tablet">
				<div class="team-item-wrap">
					<div class="team-item is-relative">
						<img src="images/team/volunteer-img1.2.jpg" alt="" class=" w-100">
						<div class="team-img-hover">
							<ul class="team-social list-inline">
								<li class="list-inline-item">
									<a href="#" class="facebook"><i class="icofont-facebook" aria-hidden="true"></i></a>
								</li>
								<li class="list-inline-item">
									<a href="#" class="twitter"><i class="icofont-twitter" aria-hidden="true"></i></a>
								</li>
								<li class="list-inline-item">
									<a href="#" class="instagram"><i class="icofont-instagram" aria-hidden="true"></i></a>
								</li>
								<li class="list-inline-item">
									<a href="#" class="linkedin"><i class="icofont-linkedin" aria-hidden="true"></i></a>
								</li>
							</ul>
						</div>
					</div>
					<div class="team-item-content">
						<h4 class="mt-3 mb-0 is-capitalize">Jason roy</h4>
						<p>Businessman</p>
					</div>
				</div>
			</div>

			<div class="column is-3-desktop is-6-tablet">
				<div class="team-item-wrap">
					<div class="team-item is-relative">
						<img src="images/team/volunteer-img1.1.jpg" alt="" class=" w-100">
						<div class="team-img-hover">
							<ul class="team-social list-inline">
								<li class="list-inline-item">
									<a href="#" class="facebook"><i class="icofont-facebook" aria-hidden="true"></i></a>
								</li>
								<li class="list-inline-item">
									<a href="#" class="twitter"><i class="icofont-twitter" aria-hidden="true"></i></a>
								</li>
								<li class="list-inline-item">
									<a href="#" class="instagram"><i class="icofont-instagram" aria-hidden="true"></i></a>
								</li>
								<li class="list-inline-item">
									<a href="#" class="linkedin"><i class="icofont-linkedin" aria-hidden="true"></i></a>
								</li>
							</ul>
						</div>
					</div>
					<div class="team-item-content">
						<h4 class="mt-3 mb-0 is-capitalize">Justin hammer</h4>
						<p>Student</p>
					</div>
				</div>
			</div>

			<div class="column is-3-desktop is-6-tablet">
				<div class="team-item-wrap ">
					<div class="team-item is-relative">
						<img src="images/team/volunteer-img1.3.jpg" alt="" class=" w-100">
						<div class="team-img-hover">
							<ul class="team-social list-inline">
								<li class="list-inline-item">
									<a href="#" class="facebook"><i class="icofont-facebook" aria-hidden="true"></i></a>
								</li>
								<li class="list-inline-item">
									<a href="#" class="twitter"><i class="icofont-twitter" aria-hidden="true"></i></a>
								</li>
								<li class="list-inline-item">
									<a href="#" class="instagram"><i class="icofont-instagram" aria-hidden="true"></i></a>
								</li>
								<li class="list-inline-item">
									<a href="#" class="linkedin"><i class="icofont-linkedin" aria-hidden="true"></i></a>
								</li>
							</ul>
						</div>
					</div>
					<div class="team-item-content">
						<h4 class="mt-3 mb-0 is-capitalize">Henry oswald</h4>
						<p>CO founder</p>
					</div>
				</div>
			</div>
		</div>

		<div class="column">
			<div class="column lg-12">
				<div class="has-text-centered">
					<a href="volunteer.html" class="btn btn-main is-rounded">Become a volunteer</a>
				</div>
			</div>
		</div>
	</div>
</section>
<!--  Section Services End -->