<section class="section video">
	<div class="container">
		<div class="columns is-desktop">
			<div class="column is-8-desktop">
				<div class="video-content">
					<h2 class="mt-4 mb-6 is-relative text-lg text-white">We Make a Difference <br>in their Life</h2>
				</div>
			</div>
		</div>
		<div class="columns">
			<div class="column is-12">
				<div class="video-block">
					<div class="img-block">
						<img src="images/bg/bg-3.jpg" alt="">
					</div>
					<a data-video-id="sXoKSD8QJEA" class="videoplay">
						<i class="icofont-ui-play"></i> 
					</a>
				</div>
			</div>
		</div>

		<div class="counter-section">
			<div class="columns is-multiline">
				<div class="column is-3-desktop is-6-tablet">
					<div class="counter-item-2 pt-5">
						<span class="counter-stat  text-color">18</span>
						<p>Years of Experience</p>
					</div>
				</div>
				<div class="column is-3-desktop is-6-tablet">
					<div class="counter-item-2 pt-5">
						<span class="counter-stat has-text-weight-bold text-color">1,460</span>
						<p>Active Volunteer</p>
					</div>
				</div>
				<div class="column is-3-desktop is-6-tablet">
					<div class="counter-item-2 pt-5">
						<span class="counter-stat  text-color">92</span>
						<p>Availble Country</p>
					</div>
				</div>
				<div class="column is-3-desktop is-6-tablet">
					<div class="counter-item-2 pt-5">
						<span class="counter-stat text-color">54</span>
						<p >Million People Helped</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>