<div class="volunteer section ">
	<div class="container">
		<div class="columns is-multiline">
			<div class="column is-7-desktop is-12-tablet">
				<div class="volunteer-content">
					<img src="images/bg/image-5.jpg" alt="" class="">
					<h2 class="text-lg mb-5 mt-3">We can’t help everyone, but everyone can help someone</h2>
					<p>Assumenda reiciendis delectus dolore incidunt molestias omnis quo quaerat voluptate, eligendi perspiciatis ipsa laudantium nesciunt officia, odit nemo quidem hic itaque. Fugiat.</p>

					<h2 class="mt-6 mb-5">Trusted worldwide partner</h2>
					<div class="clients-wrap">
						<a href="#">
							<img src="images/clients/client1.png" alt="" class="">
						</a>
						<a href="#">
							<img src="images/clients/client2.png" alt="" class="">
						</a>
						<a href="#">
							<img src="images/clients/client4.png" alt="" class="">
						</a>
						<a href="#">
							<img src="images/clients/client5.png" alt="" class="">
						</a>
						<a href="#">
							<img src="images/clients/client6.png" alt="" class="">
						</a>
					</div>
				</div>
			</div>

			<div class="column is-5-desktop is-12-tablet">
				<div class="volunteer-form-wrap">
					<span class="text-white">Join With us</span>
					<h2 class="mb-6 text-lg text-white">Become A Volunteer</h2>
					<form action="#" class="volunteer-form">
						<div class="mb-4">
							<input type="text" class="input" placeholder="Full Name">
						</div>
						<div class="mb-4">
							<input type="email" class="input" placeholder="Emaill Address">
						</div>
						<div class="mb-4">
							<input type="text" class="input" placeholder="Phone Number">
						</div>
						<div class="mb-4">
							<input type="text" class="input" placeholder="Adress ">
						</div>
						<div class="mb-4">
							<input type="text" class="input" placeholder="Occupation">
						</div>
						<div class="mb-4">
							<textarea name="#" id="#" cols="30" rows="6" class="input" placeholder="Your Message"></textarea>
						</div>

						<a href="#" class="btn btn-main is-rounded mt-5">Send Message</a>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
